<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>

<ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>



</ion-header>

<ion-content padding>
  <!--
 The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>


<ul>
  <li *ngFor="let item of results">
    {{item.title}}-{{item.author}}
   </li>
</ul>
-->
<ion-list>
  <ion-item *ngFor = "let item of results">
      <ion-thumbnail item-start>
      <img [src]="item.img">
    </ion-thumbnail>
    <h2>{{item.title}}</h2>
    <p>{{item.author}}</p>
    <button ion-button clear item-end>></button>
  </ion-item>
</ion-list>


</ion-content>
